@use "sass:math";
@use "media-queries" as *;
@use "tools" as *;

/*
 * WRAPPER
 */

html {
  font-size: 16px;

  @media screen and (min-width: $veryLarge) {
    font-size: 1vw;
  }

  @media screen and (max-width: $desktop) {
    font-size: 14px;
  }

  @media screen and (max-width: $desktop-w) {
    font-size: 1.25vw;
  }

  @media screen and (orientation: portrait), screen and (max-width: $ipad) {
    font-size: 16px;
  }
}

p {
  min-height: base8(2);
}

.wrapper {
  width: 100%;
  max-width: $container;
  margin: 0 auto;
  padding: 0 80px;

  @media screen and (min-width: $veryVeryLarge) {
    max-width: 90%;
  }

  &--full {
    max-width: none;
    padding: 0;
  }

  &--sidebar {
    width: 100%;
    max-width: $container;
    margin: 0 auto;
    padding: 0 rem(32) 0 calc(rem(33) + var(--sidebar-width));

    @media screen and (min-width: $veryVeryLarge) {
      max-width: 90%;
    }

    @media #{$tablet} {
      padding: 0 rem(20) 0 calc(rem(20) + var(--sidebar-width));
    }
  }
}

/*
 * ROW
 */
.row {
  margin-left: math.div(-$gutter, 2);
  margin-right: math.div(-$gutter, 2);
  @include flex(flex-start, flex-start, "", wrap);

  &--h-center {
    justify-content: center;
  }
  &--h-end {
    justify-content: flex-end;
  }
  &--h-around {
    justify-content: space-around;
  }
  &--h-between {
    justify-content: space-between;
  }

  &--v-center {
    align-items: center;
  }
  &--v-end {
    align-items: flex-end;
  }
  &--v-stretch {
    align-items: stretch;
  }

  &--center {
    justify-content: center;
    align-items: center;
  }

  &--column {
    flex-direction: column;
  }

  &--nowrap {
    flex-wrap: nowrap;
  }
}

/*
 * COLS
 */
@for $i from 1 through $num_cols {
  .col-#{$i} {
    padding-left: math.div($gutter, 2);
    padding-right: math.div($gutter, 2);
    @include col("width", $i, $num_cols);

    .ie & {
      @include colIE("width", $i, $num_cols);
    }
  }

  .offset-#{$i} {
    @include col("margin-left", $i, $num_cols);

    .ie & {
      @include colIE("margin-left", $i, $num_cols);
    }
  }
}

// RESPONSIVE
@media screen and (max-width: $desktop-w) {
  @for $i from 1 through $num_cols {
    .col-desktop-#{$i} {
      @include col("width", $i, $num_cols);

      .ie & {
        @include colIE("width", $i, $num_cols);
      }
    }

    .offset-desktop-#{$i} {
      @include col("margin-left", $i, $num_cols);

      .ie & {
        @include colIE("margin-left", $i, $num_cols);
      }
    }
  }

  .offset-desktop-0 {
    margin-left: 0;
  }
}
@media screen and (max-width: $tablet-h) {
  @for $i from 1 through $num_cols {
    .col-tabletH-#{$i} {
      @include col("width", $i, $num_cols);

      .ie & {
        @include colIE("width", $i, $num_cols);
      }
    }

    .offset-tabletH-#{$i} {
      @include col("margin-left", $i, $num_cols);

      .ie & {
        @include colIE("margin-left", $i, $num_cols);
      }
    }
  }

  .offset-tabletH-0 {
    margin-left: 0;
  }
}
@media screen and (max-width: $tablet) {
  @for $i from 1 through $num_cols {
    .col-tablet-#{$i} {
      @include col("width", $i, $num_cols);

      .ie & {
        @include colIE("width", $i, $num_cols);
      }
    }

    .offset-tablet-#{$i} {
      @include col("margin-left", $i, $num_cols);

      .ie & {
        @include colIE("margin-left", $i, $num_cols);
      }
    }
  }

  .offset-tablet-0 {
    margin-left: 0;
  }
}
@media screen and (max-width: $tablet-w) {
  @for $i from 1 through $num_cols {
    .col-tabletW-#{$i} {
      @include col("width", $i, $num_cols);

      .ie & {
        @include colIE("width", $i, $num_cols);
      }
    }

    .offset-tabletW-#{$i} {
      @include col("margin-left", $i, $num_cols);

      .ie & {
        @include colIE("margin-left", $i, $num_cols);
      }
    }
  }

  .offset-tabletW-0 {
    margin-left: 0;
  }
}
@media screen and (max-width: $mobile) {
  @for $i from 1 through $num_cols {
    .col-mobile-#{$i} {
      @include col("width", $i, $num_cols);

      .ie & {
        @include colIE("width", $i, $num_cols);
      }
    }

    .offset-mobile-#{$i} {
      @include col("margin-left", $i, $num_cols);

      .ie & {
        @include colIE("margin-left", $i, $num_cols);
      }
    }
  }

  .offset-mobile-0 {
    margin-left: 0;
  }
}
