:root {
	/**
	* Sizes
	*/
	--xxs: 0.25rem;
	--xs: 0.75rem;
	--m: 6rem;
	--l: 9rem;
	--xl: 13.3vw; //192px
	--xxl: 18.8vw; //272px

	--sidebar-width: 5.5rem;

	/**
	* Viewport
	*/
	--viewport-height: 100vh;
	--viewport-width: 100%;

	/**
	* Border Radius
	*/
	--br-main: 1.25rem;

	--z-canvas-back: -1;
	--z-main: 1;
	--z-canvas-front: 2;
	--z-tooltip: 9;
	--z-modal: 10;
	--z-sidebar: 10;
	--z-menu: 11;
	--z-loader: 12;
	--z-prevent-screen: 15;
}
