:root {
	--blanc: #ffffff;
	--rouge: #e85437;
	--noir: #000000;
	--bourgogne: #802031;
	--rose: #ffa1d4;
	--jaune: #ffca78;
	--indigo: #5c6eff;
	--gris: #9bb5d3;
	--menthe: #a1ebdb;
	--sarcelle: #3ca39a;
	--khaki: #9aae87;
	--lime: #e7ffb7;
	--background: #f1f9e2;
	--blanc-casse: #fff5fb;
}

/*
* Colors
*/
